### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Database is a collection of data that is organized and stored in an electronic format, making it easily accessible and retrievable. It is a structured way of storing and managing data that can be used to power various software programs and applications. It includes tools and techniques for storing, organizing, and manipulating data.

#### The main differences between SQL and NoSQL databases are as follows:
####  SQL Databases:

-    Store data in tables with predefined relationships

-    Follow a fixed schema and structure for data

-    Use SQL for querying and managing data

-    Have strong ACID (atomicity, consistency, isolation, durability) compliance

-    Good for complex queries and analytical workloads

-    Require less storage space

-    Scaling can be challenging

#### NoSQL Databases:

-    Store data in a flexible way, with dynamic schemas

-    Use various data models such as document-based, key-value, column-based, graph databases, etc.

-    Use NoSQL query languages which are more flexible than SQL

-    Have weak or no ACID compliance

-    Good for real-time and high-traffic applications

-    Can handle large amounts of unstructured and semi-structured data

-    Can scale horizontally and handle large volumes of data

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### DDL stands for Data Definition Language, which is a sub-language of SQL used to create, modify, and delete database structures and objects. It is used to define the database schema, which includes tables, indexes, views, constraints, and other database objects.

#### CREATE - It is used to create a new database object, such as a table or an index. It specifies the name of the object, the attributes or fields, and the constraints that define the object.

In [2]:
'''python code to use DDL command CREATE 

import mysql.connector

try:
    mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
    )
    mycursor = mydb.cursor()
    mycursor.execute("CREATE DATABASE if not exists mysql_assignment")
    mycursor.execute("CREATE TABLE if not exists mysql_assignment.create(name VARCHAR(15),phoneno INT(10),state VARCHAR(15),city VARCHAR(15))")
except Exception as e:
    print("Error ==> {}".format(e))
finally:    
    mydb.close()
'''

'python code to use DDL command CREATE \n\nimport mysql.connector\n\ntry:\n    mydb = mysql.connector.connect(\n    host="localhost",\n    user="abc",\n    password="password"\n    )\n    mycursor = mydb.cursor()\n    mycursor.execute("CREATE DATABASE if not exists mysql_assignment")\n    mycursor.execute("CREATE TABLE if not exists mysql_assignment.create(name VARCHAR(15),phoneno INT(10),state VARCHAR(15),city VARCHAR(15))")\nexcept Exception as e:\n    print("Error ==> {}".format(e))\nfinally:    \n    mydb.close()\n'

<img src="create1.png">

<img src="create2.png" >

#### ALTER - ALTER: It is used to modify the structure of an existing database object, such as a table or a view. It allows you to add or remove columns, change the data type of a column, or add constraints to a column.

In [3]:
'''
import mysql.connector

try:
    mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
    )
    mycursor = mydb.cursor()
    mycursor.execute("CREATE DATABASE if not exists mysql_assignment")
    mycursor.execute("CREATE TABLE if not exists mysql_assignment.create(name VARCHAR(15),phoneno INT(10),state VARCHAR(15),city VARCHAR(15))")
    mycursor.execute("ALTER TABLE mysql_assignment.create ADD age INT(4)")
except Exception as e:
    print("Error ==> {}".format(e))
finally:    
    mydb.close()
'''

'\nimport mysql.connector\n\ntry:\n    mydb = mysql.connector.connect(\n    host="localhost",\n    user="abc",\n    password="password"\n    )\n    mycursor = mydb.cursor()\n    mycursor.execute("CREATE DATABASE if not exists mysql_assignment")\n    mycursor.execute("CREATE TABLE if not exists mysql_assignment.create(name VARCHAR(15),phoneno INT(10),state VARCHAR(15),city VARCHAR(15))")\n    mycursor.execute("ALTER TABLE mysql_assignment.create ADD age INT(4)")\nexcept Exception as e:\n    print("Error ==> {}".format(e))\nfinally:    \n    mydb.close()\n'

<img src="alter.png">

#### TRUNCATE: It is used to remove all the data from an existing table, but not the table structure itself.

#### Insert data

In [4]:
'''
import mysql.connector

mydb = mysql.connector.connect(
    host='localhost',
    user='abc',
    password='password'
)

mycursor = mydb.cursor()
mycursor.execute("insert into mysql_assignment.create values('chang',9898989,'sikkim','gangtok',144)")
mycursor.execute("insert into mysql_assignment.create values('chang',9898989,'sikkim','gangtok',144)")
mycursor.execute("insert into mysql_assignment.create values('chang',9898989,'sikkim','gangtok',144)")
mycursor.execute("insert into mysql_assignment.create values('chang',9898989,'sikkim','gangtok',144)")
mycursor.execute("insert into mysql_assignment.create values('chang',9898989,'sikkim','gangtok',144)")
mycursor.execute("select * from mysql_assignment.create")
for i in mycursor.fetchall():
    print(i)
mydb.close()
'''

'\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n    host=\'localhost\',\n    user=\'abc\',\n    password=\'password\'\n)\n\nmycursor = mydb.cursor()\nmycursor.execute("insert into mysql_assignment.create values(\'chang\',9898989,\'sikkim\',\'gangtok\',144)")\nmycursor.execute("insert into mysql_assignment.create values(\'chang\',9898989,\'sikkim\',\'gangtok\',144)")\nmycursor.execute("insert into mysql_assignment.create values(\'chang\',9898989,\'sikkim\',\'gangtok\',144)")\nmycursor.execute("insert into mysql_assignment.create values(\'chang\',9898989,\'sikkim\',\'gangtok\',144)")\nmycursor.execute("insert into mysql_assignment.create values(\'chang\',9898989,\'sikkim\',\'gangtok\',144)")\nmycursor.execute("select * from mysql_assignment.create")\nfor i in mycursor.fetchall():\n    print(i)\nmydb.close()\n'

<img scr='trun.png'>

<img scr='trun.png'>

<img scr='trun.png'>

<img src="trun.png">

#### truncate

In [6]:
'''
import mysql.connector

mydb = mysql.connector.connect(
    host='localhost',
    user='abc',
    password='password'
)

mycursor = mydb.cursor()

mycursor.execute("truncate table mysql_assignment.create")

mycursor.execute("select * from mysql_assignment.create")

for i in mycursor.fetchall():
    print(i)

mydb.close()
'''

'\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n    host=\'localhost\',\n    user=\'abc\',\n    password=\'password\'\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("truncate table mysql_assignment.create")\n\nmycursor.execute("select * from mysql_assignment.create")\n\nfor i in mycursor.fetchall():\n    print(i)\n\nmydb.close()\n'

<img src="trun1.png">

#### DROP: it is used to delete a whole database or just a table.The DROP statement destroys the objects like an existing database, table, index, or view..

In [1]:
'''
import mysql.connector

mydb = mysql.connector.connect(
    host='localhost',
    user='abc',
    password='password'
)

mycursor = mydb.cursor()
mycursor.execute('drop table mysql_assignment.create')

mydb.close()
'''

"\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n    host='localhost',\n    user='abc',\n    password='password'\n)\n\nmycursor = mydb.cursor()\nmycursor.execute('drop table mysql_assignment.create')\n\nmydb.close()\n"

<img src='drop.png'>

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### DML stands for Data Manipulation Language, which is a subset of SQL used to insert, update, delete, and retrieve data from a database.

#### INSERT statement: This statement is used to add new records (rows) into a table.

In [2]:
'''
import mysql.connector

mydb = mysql.connector.connect(
    host='localhost',
    user='abc',
    password='password'
)

mycursor = mydb.cursor()
mycursor.execute("create table if not exists mysql_assignment.marks(name varchar(10),age int(3),marks varchar(3))")
mycursor.execute('insert into mysql_assignment.marks values("eam",20,"c")')
mycursor.execute('insert into mysql_assignment.marks values("ram",19,"b")')
mycursor.execute('insert into mysql_assignment.marks values("sam",22,"a")')


mycursor.execute('select * from mysql_assignment.marks')
for i in mycursor.fetchall():
    print(i)
mydb.close()
'''

'\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n    host=\'localhost\',\n    user=\'abc\',\n    password=\'password\'\n)\n\nmycursor = mydb.cursor()\nmycursor.execute("create table if not exists mysql_assignment.marks(name varchar(10),age int(3),marks varchar(3))")\nmycursor.execute(\'insert into mysql_assignment.marks values("eam",20,"c")\')\nmycursor.execute(\'insert into mysql_assignment.marks values("ram",19,"b")\')\nmycursor.execute(\'insert into mysql_assignment.marks values("sam",22,"a")\')\n\n\nmycursor.execute(\'select * from mysql_assignment.marks\')\nfor i in mycursor.fetchall():\n    print(i)\nmydb.close()\n'

<img src='dml_insert.png'>

#### UPDATE statement: This statement is used to modify existing records in a table.

In [3]:
'''
import mysql.connector

mydb = mysql.connector.connect(
    host='localhost',
    user='abc',
    password='password'
)

mycursor = mydb.cursor()
mycursor.execute('update mysql_assignment.marks set marks="a" where name="bam"')
mycursor.execute('select * from mysql_assignment.marks')
for i in mycursor.fetchall():
    print(i)
mydb.close()
'''

'\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n    host=\'localhost\',\n    user=\'abc\',\n    password=\'password\'\n)\n\nmycursor = mydb.cursor()\nmycursor.execute(\'update mysql_assignment.marks set marks="a" where name="bam"\')\nmycursor.execute(\'select * from mysql_assignment.marks\')\nfor i in mycursor.fetchall():\n    print(i)\nmydb.close()\n'

<img src='dml_update.png'>

#### DELETE statement: This statement is used to remove records from a table.

In [4]:
'''
import mysql.connector

mydb = mysql.connector.connect(
    host='localhost',
    user='abc',
    password='password'
)

mycursor = mydb.cursor()

mycursor.execute("select * from mysql_assignment.marks")

print('#######old record ###########')

for oldrecord in mycursor.fetchall():
    print(oldrecord)

mycursor.execute('delete from mysql_assignment.marks where age=29')

mycursor.execute("select * from mysql_assignment.marks")
print('#######new record ###########')

for newrecord in mycursor.fetchall():
    print(newrecord)

mydb.close()
'''

'\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n    host=\'localhost\',\n    user=\'abc\',\n    password=\'password\'\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("select * from mysql_assignment.marks")\n\nprint(\'#######old record ###########\')\n\nfor oldrecord in mycursor.fetchall():\n    print(oldrecord)\n\nmycursor.execute(\'delete from mysql_assignment.marks where age=29\')\n\nmycursor.execute("select * from mysql_assignment.marks")\nprint(\'#######new record ###########\')\n\nfor newrecord in mycursor.fetchall():\n    print(newrecord)\n\nmydb.close()\n'

<img src='dml_delete.png'>

### Q4. What is DQL? Explain SELECT with an example.

#### DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. The SELECT statement is the most commonly used DQL statement, used to select data from one or more tables in a database.

In [1]:
'''
import mysql.connector

mydb = mysql.connector.connect(
    host='localhost',
    user='abc',
    password='password'
)

mycursor = mydb.cursor()
mycursor.execute("create table if not exists mysql_assignment.marks(name varchar(10),age int(3),marks varchar(3))")
mycursor.execute('INSERT INTO mysql_assignment.marks VALUES("sham",19,"B");')
mycursor.execute('INSERT INTO mysql_assignment.marks VALUES("ram",29,"A");')
mycursor.execute('INSERT INTO mysql_assignment.marks VALUES("bam",39,"C");')


mycursor.execute('select * from mysql_assignment.marks')
for i in mycursor.fetchall():
    print(i)
mydb.close()
'''

'\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n    host=\'localhost\',\n    user=\'abc\',\n    password=\'password\'\n)\n\nmycursor = mydb.cursor()\nmycursor.execute("create table if not exists mysql_assignment.marks(name varchar(10),age int(3),marks varchar(3))")\nmycursor.execute(\'INSERT INTO mysql_assignment.marks VALUES("sham",19,"B");\')\nmycursor.execute(\'INSERT INTO mysql_assignment.marks VALUES("ram",29,"A");\')\nmycursor.execute(\'INSERT INTO mysql_assignment.marks VALUES("bam",39,"C");\')\n\n\nmycursor.execute(\'select * from mysql_assignment.marks\')\nfor i in mycursor.fetchall():\n    print(i)\nmydb.close()\n'

<img src='dql_select.png'>

### Q5. Explain Primary Key and Foreign Key.

#### In SQL, a primary key is a column or set of columns in a table that uniquely identifies each row in the table. It is used to enforce the integrity of the data by ensuring that no two rows in the table have the same values in the primary key column(s). A primary key can be used as a reference by other tables, known as foreign keys.

#### A foreign key is a column or set of columns in one table that refers to the primary key column(s) of another table. It is used to establish a link between two tables and enforce referential integrity between them. The foreign key column(s) in the referencing table must have the same data type and length as the primary key column(s) in the referenced table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
'''
import mysql.connector

db = mysql.connector.connect(
    host='localhost',
    user='abc',
    password='password'
)

new_cursor = db.cursor()
new_cursor.execute('insert into mysql_assignment.marks values("test",25,"B")')
new_cursor.execute('select * from mysql_assignment.marks')

for record in new_cursor.fetchall():
    print(record)

db.close()
'''

'\nimport mysql.connector\n\ndb = mysql.connector.connect(\n    host=\'localhost\',\n    user=\'abc\',\n    password=\'password\'\n)\n\nnew_cursor = db.cursor()\nnew_cursor.execute(\'insert into mysql_assignment.marks values("test",25,"B")\')\nnew_cursor.execute(\'select * from mysql_assignment.marks\')\n\nfor record in new_cursor.fetchall():\n    print(record)\n\ndb.close()\n'

<img src='execute_cursor.png'>

#### cursor() method creates a cursor object, which allows us to execute SQL queries on a MySQL database. Once the cursor object is created, we can use its execute() method to execute SQL queries on the database.The execute() method takes a string containing the SQL query as its argument, and returns a result

### Q7. Give the order of execution of SQL clauses in an SQL query.

#### The order of execution of clauses in an SQL query is as follows:

- FROM: Specifies the table(s) from which data will be retrieved.
- JOIN: Specifies how the data from the tables will be joined together.
- WHERE: Specifies the conditions that the data must meet to be included in the result set.
- GROUP BY: Groups the data based on one or more columns.
- HAVING: Specifies the conditions that a group must meet to be included in the result set.
- SELECT: Specifies the columns to be retrieved.
- DISTINCT: Removes duplicate rows from the result set.
- ORDER BY: Specifies the order in which the rows should be sorted.
- LIMIT: Limits the number of rows returned by the query.